* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #f2ebdc;
}

/* HEADER */
header {
    background-color: #1f8c8c;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-right: 7%;
}

header ul {
    display: flex;
    margin-right: 5%;
}

header ul li {
    list-style-type: none;
    padding: 40px;
    white-space: nowrap;
}

header ul li a {
    padding: 10px;
    color: #f2ebdc;
    font-size: 18px;
    text-decoration-line: none;
    transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 10px;
}

header ul li a::after {
    color: #f2ebdc;
}

header ul li a:hover {
    background-color: #333;
    border-radius: 10px;
    padding: 10px;
    transform: scale(1.5);
}

.logo {
    height: 100px;
    padding-left: 50px;
}

/* FIM DO HEADER */

/* FIM DO HEADER */

/* POR FAVOR, NÃO MEXER NESSA IMAGEM */
#topo {
    width: 100%;
    height: 550px;

}

.topo h1 {
    color: #24bfa3;
    text-transform: uppercase;
    font-size: 46px;
    text-align: center;
    padding: 30px;
}

/* PROJETOS DIREITA */
.projeto-direito{
    background-color: #80bfb4;
    display: flex;
    align-items: center;
    border-radius: 20px 0 0 20px;
    margin: 20px 0 30px 15%;
}

.text h2 {
    font-size: 30px;
    text-transform: uppercase;
    margin-left: 5%;
}

.text p {
    text-align: justify;
    font-size: 12px;
    padding: 20px 40px;
    width: 75%;
}

.projeto-direito img {
    max-width: 250px;
    padding: 20px;
}

.projeto-direito button {
    padding: 10px;
    font-weight: 800;
    white-space: nowrap;
    border: none;
    border-radius: 20px;
    background-color: #1f8c8c;
    margin: 20px;
    margin-top: 80%;
    
}

/* PROJETOS ESQUERDA */
.projeto-esquerdo{
    background-color: #b0d9cd;
    display: flex;
    align-items: center;
    border-radius: 0 20px 20px 0;
    margin: 20px 15% 30px 0;
}

.projeto-esquerdo img {
    max-width: 250px;
    padding: 20px;
}

.projeto-esquerdo button {
    padding: 10px;
    font-weight: 800;
    white-space: nowrap;
    border: none;
    border-radius: 20px;
    background-color: #1f8c8c;
    margin: 20px;
    margin-top: 80%;
}

/* INICIO FOOTER */
/* INICIO FOOTER */
/* INICIO FOOTER */
/* INICIO FOOTER */

footer {
    margin: 0;
    padding: 0;
    background-color: #1f8c8c;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.global-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 5%;
    width: 100%;
    align-items: flex-start;
}

.global-footer ul li {
    list-style-type: none;
    padding: 0px 10px;
    margin: 5px 0;
}

.global-footer ul a {
    color: #f2ebdc;
    text-decoration-line: none;
}

.content-footer {
    flex-direction: column;
    white-space: nowrap;
    line-height: 1.6em;
}

.content-footer ul h2 {
    padding: 10px;
    color: #f2ebdc;
}

.content-footer ul li a {
    font-size: 18px;
}

.logo-footer {
    width: 100px;
    height: auto;
    margin: 25px;
}

.insta,
.face,
.tik {
    display: flex;
    align-items: center;
}

.insta a,
.face a,
.tik a {
    display: flex;
    align-items: center;
}


i {
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
}

.insta,
.face,
.tik {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
}
/* -------------------------------MODO ESCURO------------------------------ */

.dark-theme {
    background-color: #333333;
}

.dark-theme header {
    background-color: #1b7070;
}

.dark-theme header ul li a {
    color: #f2ebdc;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.dark-theme header ul li a::after {
    color: #000;
}

.dark-theme header ul li a:hover{
    background-color: #333333;
    border-radius: 10px;
    transform: scale(1.5);
}

.dark-theme .fa-brands{
    color: #f2ebdc;
}

.dark-theme .projeto-direito {
    background-color: #5F9B90;
}

.dark-theme .projeto-esquerdo {
    background-color: #6CB49F;
}

/* .dark-theme .text {
    color: #f2ebdc;
} */

.dark-theme footer{
    background-color: #1b7070;
}

.dark-theme footer ul li a {
    color: #f2ebdc;
}

.dark-theme footer h2{
    color: #f2ebdc;
}

.dark-theme footer ul li a{
    color: #f2ebdc;
}

/* -------------------checkbox personalizada do modo escuro---------------------- */

.checkbox-wrapper-54 input[type="checkbox"] {
    visibility: hidden;
    display: none;
  }

  .checkbox-wrapper-54 *,
  .checkbox-wrapper-54 ::after,
  .checkbox-wrapper-54 ::before {
    box-sizing: border-box;
  }

  /* The switch - the box around the slider */
  .checkbox-wrapper-54 .switch {
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
    display: inline-block;
  }

  /* The slider */
  .checkbox-wrapper-54 .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: .4s;
    border-radius: 30px;
  }

  .checkbox-wrapper-54 .slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width: var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
    ;
   transition: .4s;
  }

  .checkbox-wrapper-54 input:checked + .slider {
    background-color: #303136;
  }

  .checkbox-wrapper-54 input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
  }