* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    /* border: 2px red solid; */
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

body {
    background-color: #f2ebdc;
}

/* HEADER */
header {
    background-color: #1f8c8c;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-right: 7%;
}

header ul {
    display: flex;
    margin-right: 5%;
}

header ul li {
    list-style-type: none;
    padding: 40px;
    white-space: nowrap;
}

header ul li a {
    padding: 10px;
    color: #f2ebdc;
    font-size: 18px;
    text-decoration-line: none;
    transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 10px;
}

header ul li a::after {
    color: #f2ebdc;
}

header ul li a:hover {
    background-color: #333;
    border-radius: 10px;
    padding: 10px;
    transform: scale(1.5);
}

.logo {
    height: 100px;
    padding-left: 50px;
}

/* FIM DO HEADER */

.imagem1 {
    background-image: linear-gradient(to bottom, transparent 0%, #0000009c 50%), url(src/MD4.JPG);
    background-size: 100% 110%;
    background-position: top;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.imagem1 h1 {
    text-align: center; 
    color: #24bfa3;
    font-size: 45px;
}


.imagem1 img {
    height: 70vh;
    width: 100%;
    object-fit: cover;
    z-index: 0;
}


.contatos-do-projeto h2 {
    color: #24bfa3;
    text-align: center;
    font-size: 46px;

}

.text {
    margin: 5% 8%;
}

.text h2 {
    font-size: 46px;
    text-transform: uppercase;
    color: #24bfa3;
    text-align: center;
}

.text p {
    font-family: 'noto sans';
    font-size: 20px;
    line-height: 1.4em;
    text-align: justify;
}

.imagem-projeto {

    display: flex;
    justify-content: center;
}

.imagem-projeto img {
    width: 600px;
    border-radius: 20px;
}

.contatos-do-projeto h2 {
    padding: 20px;
    font-family: "Inter", sans-serif;
}

.contatos-do-projeto .imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 600px; */
}

.contatos-do-projeto .imgs img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    justify-content: baseline;
    padding: 40px;
}

.icons-redes {
    display: flex;
    padding: 20px;
    justify-content: center;
}

.icons-redes a {
    color: #000;
    padding: 10px;
    margin: 0 40px;
    text-decoration: none;
}

.icons-redes a i {
    text-align: center;
    font-size: 46px;
}

/* INICIO FOOTER */
/* INICIO FOOTER */
/* INICIO FOOTER */
/* INICIO FOOTER */

footer {
    margin: 0;
    padding: 0;
    background-color: #1f8c8c;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.global-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 5%;
    width: 100%;
    align-items: flex-start;
}

.global-footer ul li {
    list-style-type: none;
    padding: 0px 10px;
    margin: 5px 0;
}

.global-footer ul a {
    color: #f2ebdc;
    text-decoration-line: none;
}

.content-footer {
    flex-direction: column;
    white-space: nowrap;
    line-height: 1.6em;
}

.content-footer ul h2 {
    padding: 10px;
    color: #f2ebdc;
}

.content-footer ul li a {
    font-size: 18px;
}

.logo-footer {
    width: 100px;
    height: auto;
    margin: 25px;
}

.insta,
.face,
.tik {
    display: flex;
    align-items: center;
}

.insta a,
.face a,
.tik a {
    display: flex;
    align-items: center;
}


i {
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
}

.insta,
.face,
.tik {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
}

/* -------------------------------MODO ESCURO------------------------------ */

.dark-theme {
    background-color: #333333;
}

.dark-theme .fa-brands {
    color: #f2ebdc;
}

.dark-theme header {
    background-color: #1b7070;
}

.dark-theme header ul li a {
    color: #f2ebdc;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.dark-theme header ul li a::after {
    color: #000;
}

.dark-theme header ul li a:hover {
    background-color: #f2ebdc;
    color: #333333;
    border-radius: 20px;
    transform: scale(1.1);
}

.dark-theme .text p {
    color: #f2ebdc;
}

.dark-theme .text h2 {
    color: #80bfb4;
}

.dark-theme footer {
    background-color: #1b7070;
}

.dark-theme footer ul li a {
    color: #f2ebdc;
}

.dark-theme footer h2 {
    color: #f2ebdc;
}

.dark-theme footer ul li a {
    color: #f2ebdc;
}

/* -------------------checkbox personalizada do modo escuro---------------------- */

.checkbox-wrapper-54 input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.checkbox-wrapper-54 *,
.checkbox-wrapper-54 ::after,
.checkbox-wrapper-54 ::before {
    box-sizing: border-box;
}

/* The switch - the box around the slider */
.checkbox-wrapper-54 .switch {
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
    display: inline-block;
}

/* The slider */
.checkbox-wrapper-54 .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: .4s;
    border-radius: 30px;
}

.checkbox-wrapper-54 .slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon, 1.4em);
    width: var(--size-of-icon, 1.4em);
    border-radius: 20px;
    left: var(--slider-offset, 0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
    ;
    transition: .4s;
}

.checkbox-wrapper-54 input:checked+.slider {
    background-color: #303136;
}

.checkbox-wrapper-54 input:checked+.slider:before {
    left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}


/* Responsividade Página Projeto */
@media (max-width: 768px) {

    /* HEADER */
    header {
        display: flex;
        width: 100%;
        height: 150px;
        font-size: 14px;
    }

    header ul li {
        padding: 10px;
    }

    header ul li a {
        font-size: 13px;
    }

    nav {
        justify-content: space-between;
    }

    .text h2 {
        font-size: 45px;
    }

    .text-img h1 {
        font-size: 40px;
        text-align: center;
    }

    .imagens h1 {
        text-align: center;
    }

    .imagem1 {
        background-image: linear-gradient(to bottom, transparent 0%, #0000009c 50%), url(src/MD4.JPG);
        /* background-size: 100% 100%; */
        background-position: top;
        height: 40vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    /* FIM DO HEADER */

    /* MENU HAMBURGUER */


    .menu {
        display: none;
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }

    .menu.active {
        display: flex;
    }


    .menu-hamburguer {
        display: block;
        cursor: pointer;
        margin-right: 50px;
        margin-top: 40px;
    }

    .menu-bar {
        display: flex;
        width: 25px;
        height: 2px;
        background-color: #fff;
        margin: 5px;
    }



    .main {
        display: block;
    }

    .imagens img {
        width: 300px;
        height: auto;
    }

    .imagens {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .objetivos {
        flex-wrap: wrap;
    }

    .logo {
        width: 115px;
        height: auto;
        /* margin-right: 20px; */
        margin-left: -20px;
        margin-right: 30px;
    }

    .valores {
        display: block;
    }

    .text h2 {
        margin:  20px 0;
    }


    /* footer */
    .global-footer {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .content-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 0 5%;
        width: 100%;
    }

    .redes-sociais ul {
        display: flex;
        margin-top: 10px;
    }

    .redes-sociais ul h2 {
        display: none;
    }

    .redes-sociais ul li {
        display: none;
    }

    .content-footer ul li a {
        font-size: 15px;
        padding: 10px;
    }

    .content-footer ul h2 {
        font-size: 18px;
    }

    .logo-footer {
        display: none;
    }

    .insta,
    .face,
    .tik {
        padding: 10px;
    }

    /* final footer */
}